<h1>New Webpage</h1>
<%=link_to "About", main_about_path%>
<%=link_to "Contact Us", main_contactus_path%>
<%=link_to "FAQs", main_FAQs_path%>
<div class="jumbotron">
  <h1>Hello, Y'all</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<p> It is now <%= @time %></p>
<p>Find me in app/views/main/index.html.erb</p>

<%= 1+2 %>
<%= "cow"+"boy" %>
<%= 1.hour.from_now.localtime %>
<ul>
	<li><a href="#">Potatoes</a></li>
	<li><a href="#">Ham</a></li>
	<li><a href="#">Peas</a></li>
</ul>